.invoice {
    padding: 40px 180px;

    .card-body {
        padding: 50px;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                font-size: 14px;
                color: #666666;
                font-weight: 500;
                line-height: 1.75;
            }
        }

        strong {
            color: #333333;
            font-weight: 600;
        }

        .invoice_header {
            ul {
                text-align: right;
            }
        }

        .invoice_from {
            background-color: #f8f8f8;
            padding: 20px;
            margin-top: 30px;
            margin-bottom: 50px;

            ul {
                li {
                    line-height: 2.15;

                    a.btn {
                        text-transform: uppercase;
                        font-size: 12px;
                        background-color: #fa6666;
                        color: #fff;
                    }
                }
            }
        }

        .invocie_table {
            margin-top: 30px;
            margin-bottom: 45px;

            table {
                font-size: 14px;
                text-align: center;

                tr {

                    th,
                    td {
                        padding: 15px;
                    }
                }

                thead {
                    tr {
                        th {
                            background-color: #f8f8f8;
                            color: #333333;
                            font-weight: 600;
                        }
                    }
                }

                tbody {
                    tr {
                        td {
                            font-size: 14px;
                            color: #666666;
                            font-weight: 500;

                        }

                        td:first-child {
                            text-align: left;
                        }
                    }
                }

                tfoot {
                    tr {
                        td {
                            font-size: 14px;
                            color: #666666;
                            font-weight: 500;
                        }

                        td:first-child {
                            text-align: right;
                        }
                    }
                }
            }
        }

        .invoice_footer {
            text-align: center;

            p {
                font-size: 14px;
                color: #666666;
                font-weight: 500;
            }

            a {
                span {
                    color: #444444;
                }

                span:hover {
                    color: $primaryColor;
                }
            }
        }
    }
}

.invoice_table {
    table {
        tbody {
            tr {
                td {
                    a.unpaid {
                        text-transform: uppercase;
                        font-size: 12px;
                        background-color: #fa6666;
                        color: #fff;
                    }

                    a.paid {
                        text-transform: uppercase;
                        font-size: 12px;
                        background-color: #19bc87;
                        ;
                        color: #fff;
                    }
                }
            }
        }
    }

    nav {
        margin-top: 15px;

        ul {
            margin: 0;

            li {
                a {
                    color: $primaryColor;
                }

                a:hover {
                    background: $primaryColor;
                    color: #fff;
                    border-color: $primaryColor;
                }

                a.active {
                    background: $primaryColor;
                    color: #fff;
                    border-color: $primaryColor;
                    box-shadow: none;
                }

                a:focus {
                    box-shadow: none;
                }
            }
        }
    }
}