*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

$primaryColor: #14abfa;
$secondaryColor: #978ded;
$backgroundColor: #f3f3f3;
$hoverBackgroundColor: #14a2ec;
$primaryFontFamily: "Montserrat", sans-serif;

body {
    font-family: $primaryFontFamily;
    background: $backgroundColor;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

img {
    vertical-align: middle;
    border-style: none;
}

h2 {
    color: #333333;
    font-size: 20px;
}

p {
    font-size: 14px;
    color: #666;
}

a {
    color: #14acf8;
    font-size: 14px;
}

@import "index";

@import "sign_in";

@import "404";

@import "forms";

@import "basic_table";

@import "data_table";

.content_with_sidebar {
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    min-height: calc(100vh - 130px);

    .content_with_sidebar_left {
        float: left;
        width: 280px;
        background-color: #fff;
        box-shadow: 0px 0 3px rgba(0, 0, 0, .2);
        position: relative;
        z-index: 2000;
    }

    .content_with_sidebar_right {
        display: block;
        overflow: hidden;
        width: calc(100% - 280px);
        border-bottom: 1px solid #e3eaef;
    }

    .main_content_section {
        display: block;
        overflow: hidden;
        padding: 20px;
    }
}


.widget_title {
    font-size: 14px;
    font-weight: bolder;
}

.form-group+.form-group {
    margin-top: 25px;
}

.card+.card {
    margin-top: 25px;
}

.ad_ag_grid {
    height: 500px;
}